.contact
	- unless @contact.name.nil?
		%p
			%strong
				Name:
			= @contact.name
	
	%p
		%strong
			Address:
		= @contact.address
			
	%p
		%strong
			Tel:
		= @contact.tel
	
	%p
		%strong
			Email:
		= mail_to @contact.email, @contact.email
		
	%p
		%strong
			Website:
		= link_to @contact.website, @contact.website