.hero-unit
	= image_tag 'people.png', :alt => ''
	- if @councils.include? 'county'
		%h2= "Your councils are #{@councils["county"]["name"]} and #{@councils["council"]["name"]}"
	- else
		%h2= "Your council is #{@councils["council"]["name"]}"
	%p See below to find out what services are provided in your area. Some services may be provided by different areas of government.

%dl#types

	- @categories.each do |category|
		%dt{"data-target" => "#q#{category.id}", "data-toggle" => "collapse", "class" => "type#{category.id}"}
			= image_tag("type#{category.id}.png", :alt => "", :id => "type")
			= image_tag("arrowleft.png", :alt => "", :id => "arrow")
			%h3
				= category.name
			%p
				= category.subtitle
		%dd{"class" => "collapse", "id" => "q#{category.id}"}
			%div.ddinner
				= image_tag("arrowdown.png", :alt => "", :id => "downarrow")
				- if @contacts[category.id].count > 0
					#contacts
						%h3
							Contacts
						%ul
							- @contacts[category.id].each do |contact|
								%li
									%a{"data-toggle" => "modal", "href" => "#tip#{contact.id}"}= contact.name
									
									.modal.hide{:id => "tip#{contact.id}"}
										.modal-header
											%a.close{"data-dismiss" => "modal"}
												x
											= contact.name
										.modal-body
											- @contact = contact
											= partial 'contact'
				#contents
					- @contents[category.id].each do |tip|
						%ul
							%li
								%h3= tip.title
								= tip.body
