.hero-unit
	= image_tag 'people.png', :alt => ''
	- if @councils.include? 'county'
		%h2= "Your councils are #{@councils["county"]["name"]} and #{@councils["council"]["name"]}"
	- else
		%h2= "Your council is #{@councils["council"]["name"]}"
	%p Choose from the topics below to find the best person to speak to:

%dl#types

	- @categories.each do |category|
		%dt{"data-target" => "#q#{category.id}", "data-toggle" => "collapse", "class" => "type#{category.id}"}
			= image_tag("type#{category.id}.png", :alt => "", :id => "type")
			= image_tag("arrowleft.png", :alt => "", :id => "arrow")
			%h3
				= category.name
			%p
				= category.subtitle
		%dd{"class" => "collapse", "id" => "q#{category.id}"}
			%div.ddinner
				= image_tag("arrowdown.png", :alt => "", :id => "downarrow")
				- if @contacts[category.id].count > 0
					- @contacts[category.id].each do |contact|
						- @contact = contact
						= partial 'contact'
