!!!
%html
	%head
		%title= [@title, "Talk to Reg"].compact.join(" | ")
		= stylesheet_link_tag 'style', 'http://fonts.googleapis.com/css?family=Open+Sans:400,700'
		= javascript_include_tag 'jquery', 'jquery_ujs', 'bootstrap-collapse', 'bootstrap-modal', 'geo'
		/[if lt IE 9]
			= javascript_include_tag 'html5', 'ie9'
		= javascript_include_tag 'geo'
		= yield_content :include
		%meta{:name => "viewport", :content => "width=device-width,minimum-scale=1.0 maximum-scale=1.0"}
	%body
		#wrapper
			.container
				%header#header.row
					%h1
						%a{:href => '/'}
							Talk to Reg
					= image_tag("people.png", {:id => "people", :class => 'hidden-phone hidden-tablet'})
					%p.tagline
						One click away from business advice
		
				#main.row
					.span12#inner
						= yield
				
				%nav{"role" => "navigation"}
					%ul
						%li
							%a{:href => "/"}
								Home
						%li
							%a{:href => "/about"}
								About
						%li
							%a{:href => "/contact"}
								Contact
		%footer.row.hidden-phone
			.span12.row
				
				#supporters
					%p Supported by:
					= image_tag("betterbusiness.png", {:id => "betterbusiness", :class => 'hidden-phone hidden-tablet', :alt => "Better business for all"})
					= image_tag("lep.png", {:id => "lep", :class => 'hidden-phone hidden-tablet', :alt => "Greater Birmingham and Solihull Local Enterprise Partnership"})
					= image_tag("ldc.png", {:id => "ldc", :class => 'hidden-phone hidden-tablet', :alt => "Lichfield District Council"})
				
				%form{:action => '/admin/sessions/create', :method => 'post' }
					%h3
						Council login:
					%p#need
						"Need to update your information?"
						
					%p#details
						=input_tag :text, :name => 'email', :id => 'email', :class => 'text', :placeholder => 'Username...'
						=input_tag :password, :name => 'password', :class => 'text', :id => 'text', :placeholder => 'Password...'
						=submit_tag "Login", :class => 'btn-success login'
	
	:javascript
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-511839-36']);
		_gaq.push(['_trackPageview']);
		
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();