!!!
%html
	%head
		%title= [@title, "Talk to Reg"].compact.join(" | ")
		= stylesheet_link_tag 'style', 'http://fonts.googleapis.com/css?family=Open+Sans:400,700'
		= javascript_include_tag 'jquery', 'jquery_ujs', 'bootstrap-collapse', 'bootstrap-modal', 'geo'
		/[if lt IE 9]
			= javascript_include_tag 'html5', 'ie9'
		= javascript_include_tag 'geo'
		= yield_content :include
		%meta{:name => "viewport", :content => "width=device-width,minimum-scale=1.0 maximum-scale=1.0"}
	%body
		#wrapper
			.container
				%header#header.row
					%h1
						%a{:href => '/'}
							Talk to Reg
					= image_tag("people.png", {:id => "people", :class => 'hidden-phone hidden-tablet'})
					%p.tagline
						One click away from business advice
		
				#main.row
					.span12#inner
						= yield
				
				%nav{"role" => "navigation"}
					%ul
						%li
							%a{:href => "/"}
								Home
						%li
							%a{:href => "/"}
								About
						%li
							%a{:href => "/"}
								Contact
		%footer.hidden-phone
			.span12.row
				%ul
					%li
						%a{:href => "/"}
							Home
					%li
						%a{:href => "/"}
							About
					%li
						%a{:href => "/"}
							Contact
				
				%p#contact 
					email:
					%a{:href => "mailto:info@talktoreg.co.uk"}
						info@talktoreg.co.uk
					= " | tel: 01543 308779"
				
				%form{:action => '/admin/sessions/create', :method => 'post' }
					%legend
						Council login:
					%p#need
						"Need to update your information?"
						
					%p#details
						=input_tag :text, :name => 'email', :class => 'text', :placeholder => 'Username...'
						=input_tag :password, :name => 'password', :class => 'text', :placeholder => 'Password...'
						=submit_tag "Login", :class => 'btn-success login'